<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.malibin.morse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".presentation.MorseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Morse"
        android:usesCleartextTraffic="true">
        <activity android:name=".presentation.rooms.create.CreateRoomActivity" />
        <activity android:name=".presentation.rooms.RoomsActivity">

        </activity>
        <activity android:name=".presentation.TestActivity" />
        <activity android:name=".presentation.viewer.ViewerActivity">

        </activity>
        <activity
            android:name=".presentation.broadcast.BroadCastActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".presentation.signup.SignUpActivity" />
        <activity android:name=".presentation.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.mypage.MyPageActivity">

        </activity>
    </application>

</manifest>
